.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.1rem;
}
p {
  margin: 0;
}

#dateUpdated {
  font-weight: 900;
  color: #48adff;
}
