/*//HEADER STYLES//*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  /* margin: 0; */
}

.nav-buttons {
  margin-right: 1.5em;
}

.nav-buttons h3 {
  display: inline-block;
  /* margin: 0 1em; */
  font-size: 1.25rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  padding-right: 2rem;
  padding-bottom: 2px;
  filter: drop-shadow(0 0 2em #125cb3);
}

.nav-buttons h3:hover {
  color: #48adff;
  filter: drop-shadow(0 0 2rem #3f96fa);
}

.logo {
  height: 6em;
  padding: 1.5em;
  filter: drop-shadow(0 0 2rem #125cb3);
}

.logo:hover {
  filter: drop-shadow(0 0 2rem #3f96fa);
}

.email-button {
  border-color: #48adff;
  filter: drop-shadow(0 0 2rem #125cb3);
  /* margin-right: 2em; */
}

.email-button:hover {
  filter: drop-shadow(0 0 2rem #3f96fa);
}
