.projects-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.project-container {
  /* // apply some margin */
  display: flex;
  justify-content: space-evenly;
}

.single-project {
  /* // apply a max-width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  background-color: #242424;
  box-shadow: 0 0 2rem #125cb3;
}
